
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-phone-outline:before { content: '\e802'; } /* '' */
.icon-home-outline:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */